@model AdsetIntegrador.MVC.ViewModels.VeiculoViewModel

@{
    ViewBag.Title = "Delete";
}


<h3>Você tem certeza que deseja deletar o veículo - @Html.DisplayFor(model => model.Marca) @Html.DisplayFor(model => model.Modelo)</h3>
<div>
   
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
